@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');

$black: #000;
$blue-1: #00adee;
$grey-1: #f4f4f4;
$grey-2: #d8d8d8;
$grey-3: #999;
$grey-4: #4a4a4a;
$grey-5: #ccc;
$green-1: #a5cd39;
$red: #f00;
$white: #fff;
